/* 
  Custom scrollbar styling for WebKit browsers
  ::-webkit-scrollbar - Defines the width of the scrollbar
  ::-webkit-scrollbar-track - Styles the track (background) of the scrollbar
  ::-webkit-scrollbar-thumb - Styles the draggable part of the scrollbar (thumb)
  - background-color: Sets the color of the scrollbar thumb
  - border-radius: Rounds the corners of the scrollbar thumb
  - border: Adds a border around the scrollbar thumb

  Universal scrollbar styling for Firefox
  * - Applies to all elements
  - scrollbar-width: Sets the width of the scrollbar
  - scrollbar-color: Sets the color of the scrollbar thumb and track

  Text selection styling
  ::selection - Styles the background and text color of selected text
  - color: Sets the text color of the selected text
  - background: Sets the background color of the selected text

  Anchor tag styling
  a - Styles the color of anchor tags (links)
  - color: Sets the text color of links
*/

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 10px;
  border: 5px solid #f1f1f1;
}

* {
  scrollbar-width: thick;
  scrollbar-color: #601c84 #f1f1f1;
}

::selection {
  color: #601c84;
  background: white;
}

a {
  color: #601c84;
}
