/* Import Tailwind's base styles */
@tailwind base;

/* Import Tailwind's component styles */
@tailwind components;

/* Import Tailwind's utility styles */
@tailwind utilities;

/* Define a custom font-face for Poppins */
@font-face {
  font-family: "Poppins"; /* Name of the font */
  src: url("./assets/fonts/Poppins.ttf") format("truetype"); /* Path to the font file and its format */
  font-weight: 400; /* Normal font weight */
  font-style: normal; /* Normal font style */
}

/* Remove horizontal overflow */
html,
body {
  overflow-x: hidden;
}
